<h2>List of Users</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Votes</th>
      <th scope="col">Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.all.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name}", user_path(user.id) %></td>
        <td><%= user.votes.count %></td>
        <td><%= user.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>